.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding: 30px;
    *{
        color:#fff;
    }
    svg{
        font-size: 2rem;
    }
    &__col{
        display: flex;
        flex-direction: column;
        gap:15px;
        div{
            display: flex;
            gap:15px;
        }
    }
    &__copyright{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}