.footer{
   
   
    &__col{
        display: flex;
        flex-direction: column;
        gap:15px;
        div{
            display: flex;
            gap:15px;
        }
    }
    &__copyright{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}