@import "variables";
@import "animations";
.header{
    position: relative;
    min-height: 92vh;
    padding: 0 50px;
    font-size: 1.5rem;
    z-index: 0;
    padding-top: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .video-container{
        width: 100%;
        display: none;
        margin: 40px 0;
        z-index: 999;
        position: relative;
        video{
            width: 60%;
            border-radius: 10px;
            margin: auto;
        }
        .hide-video{
            position: absolute;
            top: 50%;
            right: 50px;
            font-size: 2rem;
        }
    }
    
    h1, p{
        margin: 0;
    }
    &__text-container{
        display: flex;
        flex-direction: row;
        gap:80px;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 100%;
    }
    
    &__col{
        display: flex;
        flex-direction: column;
        width: 1800px;
    }
    .arrow-down-animation{
        font-size: 2rem;
        position: absolute;
        bottom:50px;
        animation: arrow_moving 2s ease 2s infinite alternate;
    }  
   *
    {
        font-family: 'Caveat', cursive;
        font-weight: 700;
    }
    
    h1{
        margin: 0;
        margin-bottom: 40px;
        font-size: 7rem;
        
    }

    &__image{
        position: absolute;
        width: 100%;
        max-width: 200px;
    }
    &__image--0{
        bottom: 0;
        left: 50%;
        width: 50%;
        max-width: 750px;
        object-fit: contain;
    }
    &__image--1{
        right:40px;
        bottom: 0px;
    }
    &__image--2{
        max-width: 350px;
        left:-65px;
        top: -65px;
    }
    &__image--3{
        left:50%;
        bottom: 50%;
        
    }
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateX(70deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}