@import "variables";
@import "animations";

.navHeaderWrapper{
    
    //animation: myAnim 1s ease 0s 1 normal forwards; 
}
.header{
    
    #header__second-col{
        transition: width, height 2s;
    }
    video{
        animation: reveal 2s forwards;
        animation: reveal2 2s forwards;
    }
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: rotateX(70deg);
		transform-origin: top;
	}

	100% {
		opacity: 1;
		transform: rotateX(0deg);
		transform-origin: top;
	}
}