.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    &__first-section{
        position: relative;
        max-width: 90vw;
        background-color: #fff;
        padding: 0px 50px;
        margin: auto;
        display: flex;
        gap: 50px;
        z-index: -2;
        img{
            width: 50%;
            object-fit: cover;
        }
    }
    &__first-text{
        background-color: #fff;
    }
    &__background-rectangle{
        width: 40%;
        height: 35vw;
        position: absolute;
        top: -15%;
        right: -3%;
        background-color: $beis;
        z-index: -1;
        &--2{
            top: 40%;
            right: unset;
            left: -3%;
        }
    }
    &__target{
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        padding: 40px 30px;
        margin: auto;
        max-width: 40vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        background-color: white;
        img{
            max-width: 100px;
            width: 100%;
            border-radius: 100%;
        }
        p{
            margin: 0;
        }
        p:nth-of-type(1){
            font-size: 1.4rem;
        }
    }
    &__social-icons-container{
        display: flex;
        gap: 10px;
    }
    &__social-icons{
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        background-color: black;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        color: #fff;
        font-size: 1.4rem;
    }
    &__myName{
        font-size: 3rem;
    }
    h2, h3{
        padding: 20px;
        margin: auto;
        max-width: 40vw;
        border-top: 3px solid black;
    }
}

.servicios{
    text-align: center;
    &__row{
        display: flex;
        gap: 20px;
        justify-content: center;
        max-width: 80vw;
        margin: auto;
    }
    &__item{
        flex-grow: 1;
        text-align: center;
        width: 100%
    }
    
    span:nth-of-type(1){
        margin-bottom: 40px;
    }


  
}

.tratamientos{
    
    &__info{
        //visibility: hidden;
    }
   
    
    
   
    
}
.diagnostico{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;
    text-align: left;
    margin-bottom: 50px;
    &__title{
        font-size: 2rem;
        margin: 0;
       
    }
    &__title--2{
        font-size: 3rem;
    }
    div, img{
        width: 40%;
        flex-grow: 1;
    }
    img{
        border-radius: 50px;
        object-fit: cover;
    }
    p{
        max-width: 30vw;
        margin: 30px 0;   
    }
    button{
        margin: 0;
    }
}







  ///CSS DEL PLUGIN
  .title {
    font-size: max(2vw, 24px);
    line-height: 1.1;
    padding-bottom: .4em;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  }
  
  .text {
    font-size: max(1vw, 15px);
    line-height: 1.4;
    overflow: hidden;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .accordions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20vh;
    gap: 2vh;
  }
  
  .accordion {
    background: $light_brown;//linear-gradient(200deg, $light_brown 13.57%, $light_green 98.38%);
    width: 80vw;
    padding: 25px 30px 10px;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3);
    &:nth-child(2) {
      background: $light_green;//linear-gradient(200deg, $light_green 13.57%, $light_brown 98.38%);
    }
    
    &:nth-child(3) {
      background: $light_brown;
    }
    
    &:nth-child(4) {
        background: $light_green;
    }
  }
  
  .spacer {
    height: 0vh;
  }
  
  @media (max-width: 480px) {
    .accordion {
      padding: 15px 20px 8px;
    }
    .title {
      font-size: 20px;
    }
  }