.programas-faciales{
    
    header{
        min-height: 500px;
        background-image: url('../../assets/images/programas-faciales-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 5rem;
        }
    }
}