.testimonios{
    position: relative;
    text-align: center;
    padding: 50px;
    padding-top: 70px;
    background: $peach;
    background: linear-gradient(180deg, $darker_purple 100%);   
    color:$black2;
    font-size: 1.5rem;
    *{
        font-family: "Caveat", cursive;
    }
    span:first-child{
        font-size:3rem;
    }
    
    &__content{
        max-width: 50%;
        margin: auto;
    }
    span:first-child, &__content{
        font-weight:900;
    }
    
    span{
        font-size: 2rem;
        font-style: italic;
    }
    .swiper-pagination-bullet{
        background-color: $grey2;
    }
    .swiper-pagination-bullet-active{
        background:red!important;
    }
    .swiper-button-next, .swiper-button-prev{
        color: $grey2;

    }
    .swiper-wrapper{
        padding-bottom: 15px;
    }
}