.testimonios{
    position: relative;
    text-align: center;
    padding: 50px;
    padding-top: 70px;
    background: $darker_purple;
    background: linear-gradient(180deg, $darker_purple 100%);   
    color:#fff;
    font-size: 1.5rem;
    
    &__content{
        max-width: 50%;
        margin: auto;
    }
    span{
        font-size: 2rem;
        text-decoration: underline;
    }
    .swiper-pagination-bullet{
        background-color: $light_grey;
    }
    .swiper-button-next, .swiper-button-prev{
        color: $light_grey;

    }
    .swiper-wrapper{
        padding-bottom: 15px;
    }
}