@import "variables";
.tratamientos{
    text-align: left;
    background-color: $light_grey;
    &__subwrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 80vw;
        margin: auto;
        gap: 20px;
    }
    &__general-info{
        text-align: center;
        max-width: 80vw;
        margin:  30px auto;
    }
    &__categoria{
        margin-top: 20px;    
    }
    &__col{
        width: 50%;
        flex-grow: 1;
    }
    &__row{
        order: 1;
    }
    &__row--revert{
        order:2!important;
    }
    &__wrapper{
        margin-top: 50px;
    }
    &__title, &__subtitle{
        padding: 30px 0px;
        background-image: url('../../assets/images/cuadrado.png');
    }
    &__title{
       font-size: 2rem;
       border-top: 3px solid black;
    }
    &__subtitle{
        font-size: 1.5rem; 
    }
    button{
        margin-bottom: 60px;
    }
    &__info{
        color: #fff;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        span{
            letter-spacing: 0.3rem;
            font-weight: 700;
            font-size: 1.5rem;
            text-decoration: underline;
        }
        p{
            margin: 0;
        }
        button{
            margin-bottom: 0px;
        }
    }
    &__info--hidden{
        display: none;
    }
    &__row{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
    }
    &__category{
        font-size: 1.3rem;
        font-weight: 600;
    }
    &__precio{
        font-size: 1.3rem;
    }
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1vw;
    }
    &__slider{
        padding: 10px!important;
    }
    &__item{
        background-color: $violet;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.3);
        img{
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            width: 100%;
            height: 20vw;
            object-fit: cover;
        }
        button{
            margin: none;
        }
        &--1{
            //background-color: $apricot;
        }
        &--2{
      ///      background-color: $light_brown;
        }
        &--3{
         //   background-color: $beige;
        }
        &--4{
           // background-color: $light_grey;
        }
        &--5{
           /// background-color: $light_green;
        }
    }
    &__swiper-wrapper{
        width: 90%;
        .swiper-button-prev{
            left: -10px;
        }
    }
    
    h1, h2, h3, h4 &__text,  &__description{
        text-align: center;
    }
    
    ul{
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    li{
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        div:nth-of-type(1){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        span{
            flex-basis: 90%;
        }
    }
    
    svg{
        font-size: 1.5rem;
        flex-basis: 10%;
    }
    svg:hover{
        cursor: pointer;
    }




   

    header{
        min-height: 500px;
        background-image: url('../../assets/images/facial-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.li__border-bottom{
    border-bottom: 1px solid black;
}