.tratamientos{
    text-align: left;
    
    &__subwrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 80vw;
        margin: auto;
        gap: 20px;
    }
    
    &__categoria{
        margin-top: 20px;    
    }
    &__col{
        width: 50%;
        flex-grow: 1;
    }
    &__row{
        order: 1;
    }
    &__row--revert{
        order:2!important;
    }
    &__wrapper{
        margin-top: 50px;
    }
    &__title, &__subtitle{
        padding: 30px 0px;
        background-image: url('../../assets/images/cuadrado.png');
    }
    &__title{
       font-size: 2rem;
       border-top: 3px solid black;
    }
    &__subtitle{
        font-size: 1.5rem; 
    }
    
    &__info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1.1rem;
    }
    &__info--hidden{
        display: none;
    }
    &__row{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
    }
    &__category{
        font-size: 1.3rem;
        font-weight: 600;
    }
    &__precio{
        font-size: 1.3rem;
    }
    
    h1, h2, h3, h4 &__text,  &__description{
        text-align: center;
    }
    h1,h2,h3{
        font-size: 2rem;
    }
    ul{
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    li{
        display: flex;
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        div:nth-of-type(1){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        span{
            flex-basis: 90%;
        }
    }
    p{
        margin: 0;
    }
    svg{
        font-size: 1.5rem;
        flex-basis: 10%;
    }
    svg:hover{
        cursor: pointer;
    }









    header{
        min-height: 500px;
        background-image: url('../../assets/images/facial-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.li__border-bottom{
    border-bottom: 1px solid black;
}