@import "variables";
.tratamientos{
    
    .swiper-wrapper{
        padding-bottom: 30px!important;
        padding-top: 20px!important;
    }
    &__text{
       
        span{
            letter-spacing: 1.3px;
        }
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* Establece el número máximo de líneas a mostrar */
            -webkit-box-orient: vertical;
        }
    }
    &__item{
        box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.3);
    }    
}

