$beis : #f7f4ed;
$grey: #e6e4df;


$old_white: #F5DEB3;
$light_brown: #D2B48C;
$beige: #CDB79E;
$peach: #F5CBA7 ;
$apricot: #FFE4C4;

$light_green: #BDB76B;
$light_grey: #FFF8DC;

$malva: rgba(163, 99, 167, 1);
$bisque : bisque;
$violet: rgba(203, 171, 209, 1);

$blue: #CDDBEB;
$yellow: #EEF3DC;
$dark_violet: #322638;
$darker_purple: #302B3C;
$cooler_purple: #34294F;
$warmer_purple: #3A2F41 ;
$black2:#382C32;
$brown: #382A26;
$grey2: #263238;
$dark_green: #263832;
$orange: #f7ce6d;
$slate-7: #334155;